# jupyter lab extensions
jupyterlab-code-formatter
jupyterlab-lsp
jupyterlab-vim
jupyterlab-spellchecker
lckr_jupyterlab_variableinspector
catppuccin-jupyterlab

# add torch for cpu 
# pip3 install torch --index-url https://download.pytorch.org/whl/cpu

# can not install by nix
mlflow
